<div class="col-md-4 Video-chatting">
   <div class="single-video-right">
      <div class="row">
         @*<div class="col-md-12">
                                
            <div class="main-title">
               <h6 class="text-center">Chat</h6>
            </div>
         </div>*@
        <div class="chatbox-holder">
          <div class="chatbox">
              <div class="chat-messages">
               <div class="message-box-holder">
                <div class="message-box">
                  Hello
                </div>
              </div>
              
              <div class="message-box-holder">
                <div class="message-sender">
                   Mamun Khandaker
                 </div>
                <div class="message-box message-partner">
                  Hi.
                </div>
              </div>
              
              <div class="message-box-holder">
                <div class="message-box">
                  How are you doing?
                </div>
              </div>
              
              <div class="message-box-holder">
                <div class="message-sender">
                   Mamun Khandaker
                 </div>
                <div class="message-box message-partner">
                  I'm doing fine. How about you?
                </div>
              </div>
              
              <div class="message-box-holder">
                <div class="message-box">
                  I am fine.
                </div>
              </div>
              
              <div class="message-box-holder">
                <div class="message-box">
                  Do you know why I knocked you today?
                </div>
              </div>
              
              <div class="message-box-holder">
                <div class="message-box">
                  There's something important I would like to share with you. Do you have some time?
                </div>
              </div>
              
              <div class="message-box-holder">
                <div class="message-sender">
                   Mamun Khandaker
                 </div>
                <div class="message-box message-partner">
                  Yeah sure. Let's meet in the Einstein cafe this evening and discuss the matter.
                </div>
              </div>
              
              <div class="message-box-holder">
                <div class="message-sender">
                   Mamun Khandaker
                 </div>
                <div class="message-box message-partner">
                  I thought of coming to your place and discuss about it but I had to finish my projects and I didn't have enough time to go out of the house.
                </div>
              </div>      
            </div>
            
            <div class="chat-input-holder">
              <textarea class="chat-input"></textarea>
              <input type="submit" value="Send" class="message-send" style="  border-radius: 0 0 8px 0;
                                                                                background: #1c1c1c;" />
            </div>
          </div>
          
          
          
          
        </div>
         @*<div class="col-md-12">
            <div class="video-card video-card-list">
               <div class="video-card-image">
                  <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                  <a href="#"><img class="img-fluid" src="img/v1.png" alt=""></a>
                  <div class="time">3:50</div>
               </div>
               <div class="video-card-body">
                  <div class="btn-group float-right right-action">
                     <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                     </div>
                  </div>
                  <div class="video-title">
                     <a href="#">Here are many variati of passages of Lorem</a>
                  </div>
                  <div class="video-page text-success">
                     Education  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                  </div>
                  <div class="video-view">
                     1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                  </div>
               </div>
                                 
            </div>
         </div>*@
      </div>
   </div>
</div>

<script>
// $(function(){
//   $('.fa-minus').click(function(){    $(this).closest('.chatbox').toggleClass('chatbox-min');
//   });
//   $('.fa-close').click(function(){
//     $(this).closest('.chatbox').hide();
//   });
// });

</script>