<li class="nav-item channel-sidebar-list">
    <h6>SUBSCRIPTIONS</h6>
    <ul>
        <li>
            <a href="subscriptions.html">
                <img class="img-fluid" alt="" src="img/s1.png"> Your Life
            </a>
        </li>
        <li>
            <a href="subscriptions.html">
                <img class="img-fluid" alt="" src="img/s1.png"> Unboxing <span class="badge badge-warning">2</span>
            </a>
        </li>
        <li>
            <a href="subscriptions.html">
                <img class="img-fluid" alt="" src="img/s1.png"> Product / Service
            </a>
        </li>
        <li>
            <a href="subscriptions.html">
                <img class="img-fluid" alt="" src="img/s1.png"> Gaming
            </a>
        </li>
    </ul>
</li>