@model ECommerceLiveDemo.Models.DTOs.BrandsDto
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
window.onload = function() {
    datasInfluencer();
};

$(document).ready(function(){
    $("#brands").click(function(){
        datas();
        console.log("buton bas覺ld覺");
});
    $("#Influencer").click(function(){
            datasInfluencer();
            console.log("buton bas覺ld覺");
    });
});


function datas(){
 var url = "/GetBrands?IsBrand=true";
 $.getJSON(url,function (data)
 {
         $("#menu").html("");
     for (var item in data){
      $("#menu").append('<li> <a href="#"> <img alt="" src='+ data[item].ImageLink +'> '+ data[item].Name +' </a> </li>');
      
     }
 });
 }
 
 function datasInfluencer(){
 var url = "/GetBrands";
 $.getJSON(url,function (data)
 {
         $("#menu").html("");
     for (var item in data){
      $("#menu").append('<li> <a href="#"> <img alt="" src='+ data[item].ImageLink +'> '+ data[item].Name +' </a> </li>');
      
     }
 });
 }
</script>


<button id="brands" type="button">Brands</button>

<button id="Influencer" type="button">Influencer</button>

<li class="nav-item channel-sidebar-list">
    
    
    <ul id="menu">
       @* @{
            foreach (var item in Model.Influencers)
            {
                   <li>
                        <a href="#">
                            <img alt="" src=@item.ImageLink> @item.Name
                        </a>
                    </li>
            }
        }*@
    </ul>
</li>