@model ECommerceLiveDemo.Models.DTOs.BrandsDto

<button id="brands" type="button">Brands</button>

<button id="Influencer" type="button">Influencer</button>

<li class="nav-item channel-sidebar-list">
    
    <p></p>
    <ul id="menu">
       @* @{
            foreach (var item in Model.Influencers)
            {
                   <li>
                        <a href="#">
                            <img alt="" src=@item.ImageLink> @item.Name
                        </a>
                    </li>
            }
        }*@
    </ul>
</li>