@model ECommerceLiveDemo.Models.DTOs.BrandsDto

<li class="nav-item channel-sidebar-list">
    
    <ul>
        <h6>Influencer   |   Brands</h6>
        @{
            foreach (var item in Model.Influencers)
            {
                   <li>
                        <a href="#">
                            <img alt="" src=@item.ImageLink> @item.Name
                        </a>
                    </li>
            }
        }
        @*<li>
            <a href="subscriptions.html">
                <img class="img-fluid" alt="" src="img/s1.png"> Unboxing <span class="badge badge-warning">2</span>
            </a>
        </li>
        <li>
            <a href="subscriptions.html">
                <img class="img-fluid" alt="" src="img/s1.png"> Product / Service
            </a>
        </li>
        <li>
            <a href="subscriptions.html">
                <img class="img-fluid" alt="" src="img/s1.png"> Gaming
            </a>
        </li>*@
    </ul>
</li>