
<div class="btn-group">
    <button id="Influencer" type="button" class="btn btn-secondary">Influencer</button>

    <button id="brands" type="button" class="btn btn-secondary">Brands</button>
</div>

<li class="nav-item channel-sidebar-list">
    
    <p></p>
    <ul id="menu">
      
    </ul>
</li>