<div class="row">
                     <div class="col-md-12">
                        <div >
                            <p class="tags mb-0" style="font-size: x-large;">
                               <span><a href="#" style="padding-left:0%">Keşfet</a></span>
                               <span><a href="#">Kategoriler</a></span>
                            </p>
                        </div>
                     </div>
                     <!-- Kişiler Kartı -->
                    @* <div class="col-md-12">
                        <div class="owl-carousel owl-carousel-category">
                           <div class="item">
                              <div class="category-item">
                                 <a href="#">
                                    <img class="img-fluid" src="img/s1.png" alt="">
                                    <h6>Your Life</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="#">
                                    <img class="img-fluid" src="img/s1.png" alt="">
                                    <h6>Unboxing Cool</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="#">
                                    <img class="img-fluid" src="img/s1.png" alt="">
                                    <h6>Service Reviewing</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="#">
                                    <img class="img-fluid" src="img/s1.png" alt="">
                                    <h6>Gaming <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span></h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="#">
                                    <img class="img-fluid" src="img/s1.png" alt="">
                                    <h6>Technology Tutorials</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="#">
                                    <img class="img-fluid" src="img/s1.png" alt="">
                                    <h6>Singing</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="#">
                                    <img class="img-fluid" src="img/s1.png" alt="">
                                    <h6>Cooking</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="#">
                                    <img class="img-fluid" src="img/s1.png" alt="">
                                    <h6>Traveling</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="#">
                                    <img class="img-fluid" src="img/s1.png" alt="">
                                    <h6>Education</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="#">
                                    <img class="img-fluid" src="img/s1.png" alt="">
                                    <h6>Noodles, Sauces & Instant Food</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="#">
                                    <img class="img-fluid" src="img/s1.png" alt="">
                                    <h6>Comedy <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span></h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="#">
                                    <img class="img-fluid" src="img/s1.png" alt="">
                                    <h6>Lifestyle Advice</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>*@
                     <!-- Kişiler Kartı Bitiş -->
                  </div>