<div class="row">
    <div class="col-md-12">
        <div >
            <p class="tags mb-0" style="font-size: x-large;">
                <span>
                    <a href="/" style="padding-left:0%">Keşfet</a>
                </span>
                <span>
                    <a href="/category">Kategoriler</a>
                </span>
            </p>
        </div>
    </div>
</div>